h1 {
    background-color: cornflowerblue;
    text-align: center;
}

.pixel {
    width: 17px;
    height: 17px;
    border-radius: 0%;
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
    background-color: blanchedalmond;
    vertical-align: middle;
}

#picture {
    display: flex;
    flex-direction: column;
    line-height: 0px;
}

.row {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#color-guide {
    border: 3px solid rgb(97, 23, 1);
}

form {
    margin-bottom: 5px;
}

.color-button {
    width: 35px;
    height: 35px;
}